<div class="inicio">
    <!-- Start your project here-->

    <div class="inicioDivT">

    </div>
    <div id="nosotros" class="nosotrosT container">
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Los Taqueñitos"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>


            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>



    </div> <br>
    <div class="serviciosT" id="productos">
        <div class="container">
            <div class="row">
                <h1 class="text-center autenticos">Los auténticos Taqueñitos</h1>
            </div><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="card pointer" onclick="location.href='/menu';">
                        <img src="/assets/images/menu.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Nuestro Menú</h5>
                            <p class="card-text">Conoce los auténticos Taqueñitos.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card secondCard pointer" onclick="location.href='/contacto';">
                        <img src="/assets/images/socia.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">¿Dónde encontrarnos?</h5>
                            <p class="card-text">Pide tus taqueñitos. ¡No te quedes con las ganas!</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div class="PropValueDiv">
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <img src="/assets/images/cabezaBlanco.png" class="img-fluid imageCabezaBlanca"
                        alt="Cabeza Blanca" />
                </div>
                <div class="row">
                    <h1 class="text-center text-white tacosTitle">Tacos premium con el sabor del norte...</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/images/taqNaranja.jpg" class="rounded-4 shadow-4 centerImg" alt=""
                            aria-controls="#picker-editor">

                    </div>
                    <div class="col-md-6">
                        <h4 class="text-white historiaTaque">
                            La primera sucursal de Los Taqueñitos en la ciudad de México. Este restaurante surge como
                            una
                            visión
                            para entregar comida de calidad con la receta especial de la familia.
                        </h4>
                        <button type="button" class="btn btn-rounded buttonAction"
                            onclick="location.href='/menu';">Menú</button> <br> <br>
                        <h2 class="text-white">"La receta de la familia, trabajada durante dos generaciones y abierta al
                            público con un toque del norte."</h2>
                    </div>
                </div>
            </div>

        </div>
    </div> <br> <br>
    <div class="galleryDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="colorStrongTaqueñitos titlesTaque">Más que un taco...</h1> <br>
                    <h3 class="titlesTaque">
                        Nuestro menú está diseñado para deleitar tu paladar y satisfacer tu hambre. Disfruta nuestros
                        icónicos taqueñitos, como la mula terca y el bandolero. Se convertiran en tus favoritos.
                    </h3> <br>
                    <button type="button" class="btn btn-lg btn-rounded buttonAction buttonMenuM"
                        onclick="location.href='/galeria';">Ver Galería</button> <button type="button"
                        class="btn btn-lg btn-rounded buttonAction buttonMenu2 "
                        onclick="location.href='/menu';">Menú</button>

                </div>

                <div class="col-md-3 col-sm-2">
                    <img src="/assets/images/taco1.jpg" class="img-thumbnail imgGal galImags"
                        alt="Hollywood Sign on The Hill" />
                    <img src="/assets/images/taco2.jpg" class="img-thumbnail imgGal galImags"
                        alt="Hollywood Sign on The Hill" />
                </div>
                <div class="col-md-3 col-sm-2">
                    <img src="/assets/images/salsa2.jpg" class="img-thumbnail imgGal "
                        alt="Hollywood Sign on The Hill" />
                    <img src="/assets/images/salsa3.jpg" class="img-thumbnail imgGal"
                        alt="Hollywood Sign on The Hill" />
                </div>

            </div>
        </div>
    </div> <br> <br>

</div>