<div class="menuDiv">
    <!-- Start your project here-->

    <div id="preview" class="preview">
        <div style="display: none;"></div>
        <div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                    <section class="mb-10">
                        <!-- Background image -->
                        <div class="p-5 text-center bg-image bannerMenu"
                            style="height: 500px; background-size: cover; background-position: 50% 38%; background-color: rgba(0, 0, 0, 0);"
                            aria-controls="#picker-editor"></div> <!-- Background image -->
                        <div class="container">
                            <div class="card menuTaqTitle mx-4 mx-md-5 text-center shadow-5-strong"
                                style=" margin-top: -170px;  ">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <h1 class="display-3 fw-bold ls-tight mb-4"> <span>Expertos en Cochinita
                                            Pibil</span>

                                    </h1>
                                    <a class="btn btn-primary menuBtns" style="background-color: #1fb054;"
                                        href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Los Taqueñitos"
                                        target="_blank" role="button">
                                        <i class="fab fa-whatsapp fa-2xl "></i>
                                        Ordena por WhatsApp
                                    </a>
                                    <a class="btn btn-primary menuButtonDiv menuBtns"
                                        style="background-color: #E84030; color:#FEDAA0 ;" href="#menuDisplay"
                                        role="button">
                                        Nuestro Menú
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
        </div>
    </div>
    <div id="menuDisplay">
        <div class="cardsMenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/porKilo.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body text-center">
                                <h5 class="card-title">Cochinita Pibil por Kilo</h5>
                                <hr> <br>
                                <p class="card-text">Incluye: Toertillas, salsa habanera y cebolla morada. ¡No te quedes
                                    sin probarla!, También puedes hacer tu propio pedido hasta con 1 día de antelación.
                                    <br>
                                </p>
                                <hr>
                                <h3>$500.00</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card2">
                            <img src="assets/images/tortaCochinita.jpg" class="card-img-top"
                                alt="Fissure in Sandstone" />
                            <div class="card-body text-center">
                                <h5 class="card-title">Tortas</h5>
                                <hr>
                                <p class="card-text">
                                    Incluye Salsa habanera y cebolla morada. ¡Pruebala en Combo con agua fresca!
                                </p>

                                <h3>
                                    <table class="table">
                                        <tbody>
                                            <tr>

                                                <th scope="col">Grande</th>
                                                <th scope="col">$60.00</th>
                                            </tr>
                                            <tr>
                                                <th scope="row">Combo Jumbo</th>
                                                <td>$110.00</td>

                                            </tr>
                                            <tr>
                                               
                                                <td>Combo Grande</td>
                                                <td>$90.00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Combo Jumbo</th>
                                                <td>$110.00</td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/aguasFrescas.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body text-center">
                                <h5 class="card-title">Aguas frescas</h5>
                                <hr>
                                <p class="card-text">Sabores de horchata y Jamaica (1 litro) </p>
                                <hr>
                                <h3>$35.00</h3>
                            </div> <br>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card2">
                            <img src="assets/images/suculentos.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body text-center">
                                <h5 class="card-title">Tacos de cochinita</h5>
                                <hr>
                                <p class="card-text">Incluye Salsa habanera y cebolla morada.</p>
                                <hr>
                                <h3>$20.00 c/u</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>